.frame-child {
  position: absolute;
  top: 231px;
  left: 83px;
  width: 55px;
  height: 55px;
}
.frame-icon {
  position: absolute;
  top: 231px;
  left: 1146px;
  width: 55px;
  height: 60px;
  overflow: hidden;
}
.frame-item {
  position: absolute;
  top: 0px;
  left: 1280px;
  background-color: rgba(24, 79, 162, 0.45);
  width: 1280px;
  height: 514px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.caring {
  color: #14376c;
}
.caring-for-a {
  margin-block-start: 0;
  margin-block-end: 9px;
}
.better {
  color: #14376b;
}
.better-tomorrow {
  margin: 0;
}
.caring-for-a-container {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.frame6 {
  position: absolute;
  top: 182px;
  left: 222px;
  width: 401px;
  height: 158px;
  overflow: hidden;
}
.read-about-us {
  margin: 0;
  position: absolute;
  top: 11px;
  left: 18px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.read-about-us-wrapper {
  position: absolute;
  top: 210px;
  left: 0px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslateblue-100);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 280px;
  height: 58px;
  cursor: pointer;
}
.frame7 {
  position: absolute;
  top: 127px;
  left: 273px;
  width: 280px;
  height: 268px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.image-removebg-preview-9-1 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 777px;
  height: 453px;
  object-fit: cover;
}
.frame8 {
  position: absolute;
  top: 0px;
  left: 503px;
  width: 777px;
  height: 522px;
  overflow: hidden;
}
.frame3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 522px;
  overflow: hidden;
}
.group-parent {
  position: absolute;
  top: 65px;
  left: 0px;
  background-color: rgba(158, 228, 255, 0.5);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1280px;
  height: 522px;
}
.frame-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-darkslateblue-100);
  width: 1280px;
  height: 65px;
}
.image-2-icon {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 98px;
  height: 46px;
  object-fit: cover;
}
.donate-now {
  position: absolute;
  top: 11px;
  left: 18px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.donate-now-wrapper {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-darkslateblue-100);
  position: absolute;
  top: 48px;
  left: 1072px;
  border-radius: var(--br-5xs);
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 184px;
  height: 53px;
}
.rectangle-div {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-10xs);
  width: 105px;
  height: 51px;
}
.contact-us {
  position: absolute;
  top: 12.2px;
  left: 0px;
  font-weight: 500;
}
.rectangle-group {
  position: absolute;
  top: -1px;
  left: 699px;
  border-radius: var(--br-10xs);
  width: 105px;
  height: 51px;
  cursor: pointer;
}
.image-removebg-preview-8-1 {
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 104px;
  width: 54px;
  height: 41px;
  object-fit: cover;
}
.frame-home {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  position: relative;
  border-radius: var(--br-10xs);
  width: 74px;
  height: 51px;
  top: 12.5px;
}
.frame-child1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-10xs);
  width: 74px;
  height: 51px;
}
.rectangle-container {
  position: relative;
  border-radius: var(--br-10xs);
  width: 74px;
  height: 51px;
}
.events {
  position: absolute;
  top: 12.2px;
  left: 4px;
  font-weight: 500;
}
.team {
  position: absolute;
  top: 13px;
  left: 10px;
  font-weight: 500;
}
.rectangle-parent1 {
  position: relative;
  border-radius: var(--br-10xs);
  width: 74px;
  height: 51px;
  cursor: pointer;
}
.blog {
  position: absolute;
  top: 12.2px;
  left: 8px;
  font-weight: 500;
  display: inline-block;
  width: 57px;
  height: 26.61px;
}
.about {
  position: absolute;
  top: 12.2px;
  left: 7px;
  font-weight: 500;
  cursor: pointer;
}
.frame-nav {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 75px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 669px;
  height: 51px;
  overflow: hidden;
}
.frame-container {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 804px;
  height: 51px;
}
.frame-wrapper {
  position: absolute;
  top: 46px;
  left: 222px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  width: 836px;
  height: 60px;
}
.rectangle-parent {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 1280px;
  height: 106px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-group {
  position: relative;
  width: 1282px;
  height: 587px;
}
.image-3-icon {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.education {
  position: absolute;
  top: 94px;
  left: 0px;
  font-weight: 500;
}
.image-3-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 96px;
  height: 118px;
  opacity: 0;
}
.image-3-parent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.image-3-icon1 {
  position: absolute;
  top: 0px;
  left: 11px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.image-3-group {
  position: absolute;
  top: 0px;
  left: 178px;
  width: 105px;
  height: 118px;
  opacity: 0;
}
.image-3-group.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.image-3-icon2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.mental-health {
  position: absolute;
  top: 94px;
  left: calc(50% - 33px);
  font-weight: 500;
}
.image-3-container {
  position: absolute;
  top: 0px;
  left: 362px;
  width: 82px;
  height: 142px;
  opacity: 0;
}
.image-3-container.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.welfare {
  position: absolute;
  top: 94px;
  left: 5px;
  font-weight: 500;
}
.image-3-parent1 {
  position: absolute;
  top: 0px;
  left: 510px;
  width: 82px;
  height: 118px;
  opacity: 0;
}
.image-3-parent1.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.image-removebg-preview-10-2 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 83px;
  height: 78px;
  object-fit: cover;
}
.cleanliness {
  position: absolute;
  top: 92px;
  left: 0px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.image-removebg-preview-10-2-parent {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: 644px;
  width: 110px;
  height: 116px;
  opacity: 0;
}
.image-removebg-preview-10-2-parent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.frame-parent1 {
  position: absolute;
  top: 26px;
  left: 49px;
  width: 754px;
  height: 142px;
}
.frame-wrapper1 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 836px;
  height: 170px;
  margin-top: -38px;
  font-size: var(--font-size-xl);
}
.frame-parent {
  width: 1282px;
  height: 719px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame2 {
  position: absolute;
  top: 0px;
  left: -2px;
  width: 1282px;
  height: 832px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.home {
  position: relative;
  background-color: var(--color-white);
  width: 1280px;
  height: 832px;
  overflow: hidden;
  flex-shrink: 0;
}
.about-us1 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 500;
  display: inline-block;
  width: 138px;
}
.read-more {
  position: absolute;
  top: 9px;
  left: 22px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.read-more-wrapper {
  cursor: pointer;
  border: 2px solid var(--color-darkslateblue-100);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 333px;
  left: 0px;
  border-radius: var(--br-5xs);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(192, 192, 192, 0.25);
  box-sizing: border-box;
  width: 151px;
  height: 45px;
  opacity: 1;
}
.read-more-wrapper.animate {
  animation: 1s ease 0s 1 normal forwards shadow-pop-tr;
}

@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
.care-and-relief {
  line-height: 32px;
}
.span {
  line-height: 23.5px;
}
.care-and-relief-container {
  position: absolute;
  top: 125px;
  left: 2px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-poppins);
  color: var(--color-gray);
  display: inline-block;
  width: 834px;
  height: 180px;
}
.introduction {
  position: absolute;
  top: 10px;
  left: 13px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.introduction-wrapper {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-darkslateblue-100);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 21.5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 146px;
  height: 43px;
}
.our-vision {
  position: absolute;
  top: 10px;
  left: 24px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.our-vision-wrapper {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 0px;
  left: 176px;
  border-radius: var(--br-3xl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 146px;
  height: 43px;
}
.purpose {
  position: absolute;
  top: 10px;
  left: calc(50% - 41px);
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.purpose-wrapper {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 0px;
  left: 352px;
  border-radius: var(--br-3xl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 146px;
  height: 43px;
}
.impact-story {
  position: absolute;
  top: 10px;
  left: 22px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.impact-story-wrapper {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 0px;
  left: 528px;
  border-radius: var(--br-3xl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 165px;
  height: 43px;
}
.frame-parent3 {
  position: absolute;
  top: 52px;
  left: 2px;
  width: 693px;
  height: 43px;
}
.about-us-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 836px;
  height: 376px;
}
.div {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 600;
}
.members {
  position: absolute;
  top: 77px;
  left: 16px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
}
.parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 125px;
  height: 101px;
}
.city {
  position: absolute;
  top: 77px;
  left: 38px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
}
.group {
  position: absolute;
  top: 0px;
  left: 205px;
  width: 117px;
  height: 101px;
}
.k {
  position: absolute;
  top: 0px;
  left: 20px;
  font-weight: 600;
}
.children-helped {
  position: absolute;
  top: 77px;
  left: 0px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
}
.k-parent {
  position: absolute;
  top: 0px;
  left: 386px;
  width: 153px;
  height: 101px;
}
.volunteers {
  position: absolute;
  top: 77px;
  left: 4px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
}
.k-group {
  position: absolute;
  top: 0px;
  left: 616px;
  width: 114px;
  height: 101px;
}
.frame-parent4 {
  position: absolute;
  top: 16px;
  left: 41px;
  width: 730px;
  height: 101px;
}
.frame-wrapper2 {
  position: absolute;
  top: 415px;
  left: 0px;
  border-radius: 15px;
  background-color: rgba(24, 79, 162, 0.79);
  width: 836px;
  height: 139px;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.frame-parent2 {
  position: absolute;
  top: 30px;
  left: 222px;
  width: 836px;
  height: 554px;
}
.about-us-child {
  position: absolute;
  top: 470px;
  left: 424px;
  border-right: 4px solid var(--color-white);
  box-sizing: border-box;
  width: 4px;
  height: 90px;
}
.about-us-item {
  position: absolute;
  top: 470px;
  left: 627px;
  border-right: 4px solid var(--color-white);
  box-sizing: border-box;
  width: 4px;
  height: 90px;
}
.about-us-inner {
  position: absolute;
  top: 470px;
  left: 831px;
  border-right: 4px solid var(--color-white);
  box-sizing: border-box;
  width: 4px;
  height: 90px;
}
.about-us {
  position: relative;
  background-color: var(--color-white);
  width: 1280px;
  height: 630px;
  overflow: hidden;
  flex-shrink: 0;
  margin-top: -104px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: #524b4b;
}
.frame1 {
  width: 1280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 48px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.home1 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-white);
  width: 1280px;
  height: 572px;
  overflow: hidden;
}
.core-team {
  margin: 0;
  position: absolute;
  top: 42px;
  left: 531px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.rectangle-icon {
  position: absolute;
  top: 20px;
  left: 16px;
  border-radius: 12.69px;
  width: 226px;
  height: 200px;
  object-fit: cover;
}
.divender-singh-cheema {
  position: absolute;
  top: 233px;
  left: 35px;
  font-size: 15.86px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.president {
  position: absolute;
  top: 262px;
  left: 93px;
  line-height: 21px;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 284px;
  left: 16px;
  line-height: 21px;
  display: inline-block;
  width: 226px;
}
.rectangle-parent4 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 9.52px;
  background-color: var(--color-white);
  box-shadow: 1.9032257795333862px 2.5376343727111816px 15.86px
    rgba(0, 0, 0, 0.04);
  width: 258px;
  height: 343px;
}
.amrita-bhama {
  position: absolute;
  top: 232.91px;
  left: 77px;
  font-size: 15.86px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.rectangle-parent5 {
  position: absolute;
  top: 0px;
  left: 288px;
  border-radius: 9.52px;
  background-color: var(--color-white);
  box-shadow: 1.9032257795333862px 2.5376343727111816px 15.86px
    rgba(0, 0, 0, 0.04);
  width: 258px;
  height: 343px;
}
.rohit-ashokan {
  position: absolute;
  top: 233px;
  left: 73px;
  font-size: 15.86px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.rectangle-parent6 {
  position: absolute;
  top: 0px;
  left: 576px;
  border-radius: 9.52px;
  background-color: var(--color-white);
  box-shadow: 1.9032257795333862px 2.5376343727111816px 15.86px
    rgba(0, 0, 0, 0.04);
  width: 258px;
  height: 343px;
}
.frame-parent5 {
  position: absolute;
  top: 129px;
  left: 192px;
  width: 834px;
  height: 343px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
.core-team-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f2f2f2;
  width: 1278px;
  height: 572px;
}
.team1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 572px;
  overflow: hidden;
}
.explore-our-gallery {
  position: absolute;
  top: 9px;
  left: 21px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.explore-our-gallery-wrapper {
  cursor: pointer;
  border: 2px solid var(--color-darkslateblue-100);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 333px;
  left: 526px;
  border-radius: var(--br-5xs);
  box-shadow: 0px 4px 3px rgba(192, 192, 192, 0.45);
  box-sizing: border-box;
  width: 227px;
  height: 45px;
}
.event-gallery {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 543px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.frame-child8 {
  position: absolute;
  top: -99px;
  left: -95px;
  background-color: rgba(217, 217, 217, 0);
  width: 1280px;
  height: 444px;
}
.frame-child9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 252px;
  height: 205px;
  object-fit: cover;
}
.frame-child10 {
  position: absolute;
  top: 0px;
  left: 292px;
  width: 252px;
  height: 205px;
  object-fit: cover;
}
.frame-child11 {
  position: absolute;
  top: 0px;
  left: 584px;
  width: 252px;
  height: 205px;
  object-fit: cover;
}
.frame-child12 {
  position: absolute;
  top: 0px;
  left: 876px;
  width: 252px;
  height: 205px;
  object-fit: cover;
}
.frame-child13 {
  position: absolute;
  top: 0px;
  left: 1168px;
  width: 252px;
  height: 205px;
  object-fit: cover;
}
.frame-child14 {
  position: absolute;
  top: 0px;
  left: 1460px;
  width: 252px;
  height: 205px;
  object-fit: cover;
}
.rectangle-parent7 {
  position: absolute;
  top: 74px;
  left: 0px;
  width: 1280px;
  height: 205px;
  overflow-x: auto;
}
.frame-parent6 {
  position: absolute;
  top: 16px;
  left: 0px;
  width: 1280px;
  height: 376px;
}
.gallery {
  position: absolute;
  top: 1268px;
  left: 0px;
  background-color: var(--color-white);
  width: 1280px;
  height: 444px;
  overflow: hidden;
}
.our-timeline {
  position: absolute;
  top: 9px;
  left: 17px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.our-timeline-wrapper {
  cursor: pointer;
  border: 2px solid var(--color-darkslateblue-100);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 579px;
  left: 465px;
  border-radius: var(--br-5xs);
  box-shadow: 0px 4px 3px rgba(192, 192, 192, 0.5);
  box-sizing: border-box;
  width: 160px;
  height: 45px;
}
.frame-child15 {
  position: absolute;
  top: 111px;
  left: 0px;
  border-radius: var(--br-5xs);
  width: 544.5px;
  height: 425px;
  object-fit: cover;
}
.upcoming-events {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 426px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.frame-child16 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslateblue-100);
  width: 11.03px;
  height: 110px;
}
.div2 {
  position: absolute;
  top: 0px;
  left: 5.01px;
  font-weight: 600;
  display: inline-block;
  width: 38.11px;
}
.dec {
  position: absolute;
  top: 0px;
  left: 7.02px;
  font-weight: 500;
  display: inline-block;
  width: 38.11px;
}
.div3 {
  position: absolute;
  top: 30px;
  left: 0px;
  font-weight: 500;
  display: inline-block;
  width: 51.15px;
}
.dec-parent {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 51.15px;
  height: 54px;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.container {
  position: absolute;
  top: 4px;
  left: 29.09px;
  width: 51.15px;
  height: 99px;
}
.rectangle-parent8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80.24px;
  height: 110px;
}
.rajendra-prasad-jayanti {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 233.69px;
}
.ictwotone-access-time-filled-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24.07px;
  height: 24px;
  overflow: hidden;
}
.am-1230 {
  position: absolute;
  top: 0px;
  left: 40.12px;
  font-weight: 500;
  display: inline-block;
  width: 191.57px;
}
.sunday {
  position: absolute;
  top: 0px;
  left: 247.73px;
  font-weight: 500;
  display: inline-block;
  width: 72.21px;
}
.ictwotone-access-time-filled-parent {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 319.95px;
  height: 24px;
}
.bhopal {
  position: absolute;
  top: 0px;
  left: 40.12px;
  font-weight: 500;
  display: inline-block;
  width: 110.33px;
}
.material-symbolslocation-on-parent {
  position: absolute;
  top: 62px;
  left: 0px;
  width: 150.45px;
  height: 24px;
}
.rajendra-prasad-jayanti-parent {
  position: absolute;
  top: 12px;
  left: 109.32px;
  width: 319.95px;
  height: 86px;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.frame-parent9 {
  position: absolute;
  top: 2px;
  left: 582.73px;
  width: 429.27px;
  height: 110px;
}
.frame-parent10 {
  position: absolute;
  top: 157px;
  left: 582.73px;
  width: 429.27px;
  height: 110px;
}
.frame-parent11 {
  position: absolute;
  top: 312px;
  left: 582.73px;
  width: 429.27px;
  height: 110px;
}
.frame-child19 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-5xs);
  background: linear-gradient(
    179.92deg,
    rgba(0, 0, 0, 0.09),
    rgba(0, 0, 0, 0.41)
  );
  width: 544px;
  height: 426px;
}
.div8 {
  position: absolute;
  top: 0px;
  left: 7.02px;
  font-weight: 600;
  display: inline-block;
  width: 38.11px;
}
.dec-parent1 {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 51.15px;
  height: 54px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.parent3 {
  position: absolute;
  top: 4px;
  left: 24.07px;
  width: 51.15px;
  height: 99px;
}
.frame-wrapper3 {
  position: absolute;
  top: 10px;
  left: 431.28px;
  border-radius: var(--br-8xs);
  background-color: #387ce4;
  width: 100.3px;
  height: 110px;
  color: var(--color-white);
}
.ictwotone-access-time-filled-icon3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.am-12303 {
  position: absolute;
  top: 0px;
  left: 40px;
  font-weight: 500;
}
.sunday3 {
  position: absolute;
  top: 0px;
  left: 247px;
  font-weight: 500;
}
.ictwotone-access-time-filled-parent1 {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 319px;
  height: 24px;
}
.material-symbolslocation-on-parent1 {
  position: absolute;
  top: 62px;
  left: 0px;
  width: 106px;
  height: 24px;
}
.rajendra-prasad-jayanti-parent1 {
  position: absolute;
  top: 313px;
  left: 21px;
  width: 319px;
  height: 86px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-parent8 {
  position: absolute;
  top: 112px;
  left: 0px;
  width: 1012px;
  height: 426px;
  font-family: var(--font-poppins);
}
.frame-parent7 {
  position: absolute;
  top: 45px;
  left: 95px;
  width: 1012px;
  height: 622px;
}
.event {
  position: absolute;
  top: 572px;
  left: 0px;
  background-color: var(--color-white);
  width: 1280px;
  height: 696px;
  overflow: hidden;
}
.frame10 {
  position: relative;
  width: 1280px;
  height: 1712px;
  overflow: hidden;
  flex-shrink: 0;
  margin-top: -2px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.image-2-icon1 {
  position: absolute;
  top: 51px;
  left: 93px;
  width: 128px;
  height: 215px;
  object-fit: cover;
}
.footer-child {
  position: absolute;
  top: 300.5px;
  left: -0.5px;
  border-top: 1px solid #5b5b5b;
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
}
.span1 {
  font-size: var(--font-size-3xl);
}
.care-and-relief-container1 {
  position: absolute;
  top: 61px;
  left: 273px;
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 330px;
}
.home2 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 500;
}
.events1 {
  position: absolute;
  top: 40px;
  left: 0px;
  font-weight: 500;
}
.team2 {
  position: absolute;
  top: 80px;
  left: 0px;
  font-weight: 500;
}
.about1 {
  position: absolute;
  top: 120px;
  left: 0px;
  font-weight: 500;
}
.home-parent {
  position: absolute;
  top: 80px;
  left: 688px;
  width: 66px;
  height: 150px;
}
.awards-parent {
  position: absolute;
  top: 84px;
  left: 804px;
  width: 112px;
  height: 110px;
}
.registered-office {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.c-flat-nf1-container {
  position: absolute;
  top: 53px;
  left: 0px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-poppins);
}
.registered-office-parent {
  position: absolute;
  top: 85px;
  left: 966px;
  width: 278px;
  height: 113px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
}
.follow-us {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 27px;
  font-weight: 500;
  display: inline-block;
  width: 116px;
  height: 30px;
}
.image-129-icon {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
  cursor: pointer;
}
.image-128-icon {
  position: relative;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  cursor: pointer;
}
.twitter-svg {
  position: relative;
  width: 30px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.image-127-icon {
  position: relative;
  border-radius: var(--br-8xs);
  width: 24px;
  height: 24px;
  object-fit: cover;
  cursor: pointer;
}
.image-129-parent {
  position: absolute;
  height: 38.71%;
  width: 100%;
  top: 61.29%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 33px;
}
.follow-us-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 201px;
  height: 62px;
  color: #535353;
}
.crbbhopalgmailcom {
  position: absolute;
  top: 38px;
  left: 5px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.parent4 {
  position: absolute;
  top: 1px;
  left: 469px;
  width: 185px;
  height: 61px;
  font-size: var(--font-size-xl);
}
.copyright-crb-2023 {
  position: absolute;
  top: 39px;
  left: 967px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.frame-parent12 {
  position: absolute;
  top: 324px;
  left: 84px;
  width: 1132px;
  height: 62px;
  font-size: var(--font-size-6xl);
}
.footer {
  align-self: stretch;
  position: relative;
  border-radius: 0px 0px var(--br-11xl) var(--br-11xl);
  background-color: rgba(74, 138, 235, 0.45);
  height: 409px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.crb {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
